


/* <!-- Oasis Infobyte
Level1 - Task2
By 
Pradip Dound --> */

* {
  margin: 0;
  padding: 0;


}


html,
body {

  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 240, 243);
  --main-theme-color: rgb(255, 255, 255);
  --main-text-color: rgb(0, 0, 0);
  --main-dec-color: rgb(0, 0, 0);
  --main-card-color: rgb(255, 255, 255);
  --main-nav-color: rgb(5, 152, 98);
  overflow-x: hidden;
  font-family: 'Arimo', sans-serif;
  scroll-behavior: smooth;
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}

::-webkit-scrollbar {
  display: none;
}


header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 15px 0px;
  position: fixed;
  top: 0;
  background: #005AA7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  z-index: 999;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}



nav {

  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


nav .logo img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 4px solid var(--main-nav-color);
}

nav .mainMenu {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

nav .mainMenu li {

  padding: 1rem;

}

nav .mainMenu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-text-color);
  font-size: 1rem;
  transition: 0.2s ease;
  display: inline-block;
}

.mainMenu li a:hover {
  border-bottom: 2px solid var(--main-nav-color);
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

.closeMenu {
  display: none;
}


.icons i {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  color: var(--main-nav-color);
}


.icon {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.icon i {
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);

}

.icon i:hover {
  border-radius: 50%;

}



.fa-facebook {
  color: rgb(0, 50, 115);

}

.fa-linkedin {
  color: rgb(46, 23, 255);
}

.fa-instagram {
  color: rgb(255, 0, 191);
}

.fa-github {
  color: rgb(0, 0, 0);
}



.fa-facebook:hover {
  color: var(--main-nav-color);

}

.fa-linkedin:hover {
  color: var(--main-nav-color);
}

.fa-instagram:hover {
  color: var(--main-nav-color);
}

.fa-github:hover {
  color: var(--main-nav-color);
}



/***********************************************/

.hero-sec {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;

}



/******************************************************/

.p1 h1 {
  color: hsl(0, 0%, 0%);
  font-size: 3rem;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

.p1 h1 span {
  transition: 0.5s ease-out;
}

h1:hover span:nth-child(1) {
  margin-right: 5px;
}

.p1 h1:hover span:nth-child(2) {
  margin-left: 30px;
}

.p1 h1:hover span {
  color: var(--main-nav-color);
  text-shadow: 0 0 40px #0dbd8c, 0 0 40px #0dbd8c, 0 0 40px #0dbd8c;
}

/*****************************************************/




.intro {
  margin-top: 5rem;
  height: 80%;
  width: 90%;
  /* background-color: rgb(191, 250, 196); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}



/****************************************************/
.intro-img {

  height: 100%;
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.profile-img {

  height: 80%;
  width: 80%;
}






.intro-details {
  height: 100%;
  flex-basis: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.intro-details .p1 {
  width: 90%;
  justify-content: flex-start;
  font-size: 3rem;
  font-weight: 600;
  color: var(--main-text-color);

}

.intro-details .p2 {
  width: 90%;
  justify-content: flex-start;
  font-size: 3rem;
  font-weight: 600;
  color: var(--main-text-color);
}

.intro-details .cv-btn {
  width: 90%;
  justify-content: flex-start;
  font-size: 3rem;
  font-weight: 600;
}

.cv-btn button {
  height: 2.5rem;
  width: 8rem;
  border: none;
  color: var(--main-nav-color);
  font-weight: 750;
  border-radius: 5px;
  cursor: pointer;
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  margin-bottom: 1.5rem;


}

.cv-btn button a {
  color: var(--main-nav-color);
  text-decoration: none;
  cursor: pointer;

}

button:hover {
  background-color: var(--main-nav-color);
  box-shadow: none;

}

button:hover a {

  color: var(--main-card-color);
}

/********************************************************************/

main {
  height: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section h1 {
  font-size: 3rem;
}

.about-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  padding: 2rem;



}

.about-left {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;

}

.about-rights {
  height: 60%;
  width: 50%;
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 2rem;
}




.about-left .my-info {
  height: 40px;
  width: 80%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;

  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  padding-left: 2rem;

}

.my-info i {
  margin-right: 1rem;
  color: var(--main-nav-color);
}




.profile-about {
  height: 150px;
  width: 150px;
}

.about-myself {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  height: 80%;
  width: 80%;


}



/**********************************/
.education {

  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7rem;
  padding-top: 5rem;



}




.edu {
  height: 25%;
  width: 80%;
  justify-content: space-evenly;
  display: flex;
}


.ed-img {
  width: 100px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 20px;


}




.ed-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 5px solid var(--main-nav-color);
  ;
}


.ed-details {
  width: 70%;
  height: 90%;
  color: var(--main-dec-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 10px 5px rgb(0, 0, 0);
  margin-bottom: 2rem;
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);


}

.active,
.ed-details:hover {
  background-color: var(--main-nav-color);
  color: white;
  box-shadow: none;
}



/*************************************************************/
.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}


.pr-parent {
  width: 80%;
  height: auto;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-around; */


}

.pr {
  height: 350px;
  width: 500px;
  /* flex-basis: 25%; */
  margin: 1rem;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 5px 5px rgb(68, 67, 67); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  transition: 0.3s;
  cursor: pointer;
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.8),
    10px 10px 15px rgba(70, 70, 70, 0.6);
  border-radius: 20px;


}



.pr:hover {
  background-color: var(--main-nav-color);
  transform: translate(0, -10px);
}

.pr:hover p {
  color: white;
}


.pr-img img {
  margin-bottom: 2rem;
  height: 150px;
  width: 250px;
  border: 5px solid blue;
  border-radius: 20px;

}

.pr-dec {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: var(--main-dec-color);
  /* border: 1px solid black; */
}

.pr-name {
  color: var(--main-nav-color);
  font-size: 1.2rem;
  font-weight: 900;
}



/* **************************************** */

.certification {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7rem;


}

.cert-parent {
  height: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);


}


.cert-box {
  width: 300px;
  height: 300px;
  display: flex;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 40px;
  cursor: pointer;
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 20px;


}

.cert-desc {
  height: 15rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  padding: 10px;

}

.cert-desc li {
  margin-bottom: 1rem;
  font-size: 0.7rem;
  font-weight: 100;
}



.cert {
  width: 100%;
  height: 100px;
  display: flex;
  margin: 1rem;
  /* display: flex;
    align-items: center; */
  justify-content: center;
  justify-content: space-between;

  cursor: pointer;
  border-radius: 20px;




}

.cert-details {
  width: 55%;
  height: 5rem;
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.cert-img img {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 20px;
  /* border: 4px solid var(--main-text-color); */
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);

}

/**********************************************/



.Skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  padding-top: 6rem;


}


.skill-parent {
  width: 80%;
  height: auto;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid red; */

}

.skill {
  height: 8rem;
  width: 8rem;
  flex-basis: 20%;
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 20px;
  /* border: 1px solid red; */


}



.skill-img img {
  height: 4rem;
  width: 4rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */


}


/************************************************************/


.about-me {
  height: 40vh;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(105deg,#fa1919 ,#0800ff); */
  background-color: var(--main-nav-color);
  margin-bottom: 2rem;

  margin-top: 7rem;
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  




}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


input {
  height: 2.5rem;
  width: 80%;
  display: flex;
  margin-top: 1rem;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(255, 255, 255);
  background-color: var(--main-nav-color);
  color: var(--main-card-color);
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1;
  /* Firefox */
}

.sub-btn {
  height: 2.5rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  background-color: var(--main-card-color);
  color: var(--main-nav-color);
  box-shadow:
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 10px;


}

.sub-btn:hover {
  box-shadow: none;
  background-color: red;
  color: var(--main-card-color);
}








.about-detail {
  height: auto;
  flex-basis: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  color: var(--main-theme-color);
  /* text-align:left; */
  /* order:2; */
  justify-content: space-around;



}

.Follow-me {
  height: 20%;
  flex-basis: 40%;
  color: var(--main-theme-color);
  /* text-align:left; */
  /* order:2; */

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;

}




.social-btn {
  width: 15rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;


}


.social-btn a {
  text-decoration: none;


}

.social-btn i {
  font-size: 2rem;
  color: var(--main-theme-color);
  border-radius: 100%;

}

.social-btn i:hover {
  color: var(--main-theme-color);


}


.para1 {
  width: 90%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;

}



.Copyright {
  height: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  color: var(--main-text-color);

}



/******************************************/






@media only screen and (max-width: 600px) {

  html,
  body {
    overflow-x: hidden;
  }

  /*intro*/



  .intro-img {
    /*    margin-top: 2rem;*/
    height: 60%;
    width: 100%;
    flex-basis: 100%;
    overflow: hidden;
    order: 1;
    margin-bottom: 1rem;

  }

  .profile-img {
    height: 80%;
    width: 80%;
  }



  .intro-details {
    height: 40%;
    width: 100%;
    flex-basis: 100%;
    order: 2;


  }


  .intro-details h1 {
    font-size: 2rem;
  }

  .intro-details .p1 {
    width: 100%;
    display: flex;
  }

  .intro-details .p2,
  .intro-details .cv-btn {
    font-size: 0.6rem;

    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .cv-btn button {
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
    margin-top: 2rem;

  }

  /*circular box shadow none */
  .circular {
    box-shadow: none;
  }

  header {
    box-shadow: none;
  }

  /***********************************/



  /*education*/

  .edu {
    width: 100%;

  }

  .ed-details {
    width: 100%;
    height: 90%;

  }



  /* hide education img background*/
  .ed-img {
    display: none;

  }


  /* certification for mobile view*/
  .cert {
    width: 90%;
  }



  .cert-box {
    width: 80%;
  }

  /* Skill images*/
  .skill-img img {
    height: 4rem;
    width: 4rem;
  }

  .skill {
    height: 4rem;
    width: 4rem;
    flex-basis: 20%;
    margin: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*about section*/
  .about-detail {
    flex-basis: 100%;
  }




  /* hamburger menu navbar responsive*/
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: top 1s ease 0s;
    color: white;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a {
    color: white;
  }

  nav .mainMenu li a:hover {
    background: none;
    color: var(--main-card-color);
  }

  .icons i {
    display: inline-block;
    padding: 12px;
    color: var(--main-card-color);
  }


  .icons i:hover {
    display: inline-block;
    padding: 12px;
    color: var(--main-nav-color);
  }

  /* project parent 100% */

  .pr-parent {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .pr {
    height: 300px;
    padding: 20px;
  }



  .pr-img img {
    margin-bottom: 2rem;
    height: 150px;
    width: 240px;
    /* border: 5px solid var(--main-text-color); */
    border-radius: 20px;





  }


  /*             */



  .about-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

  }

  .about-left {
    height: 100%;
    flex-basis: 100%;
    width: 100%;
    align-items: center;


  }

  .about-left .my-info {
    width: 100%;
    margin-top: 1.5rem;
    font-size: 0.6rem;
  }

  .about-rights {
    margin-top: 2rem;
    width: 100%;
    box-shadow: none;


  }

  .profile-about {
    height: 25%;
    width: 25%;

  }

  .about-myself {
    padding: 2rem;

  }


  .about-myself p {
    margin-top: 1rem;
  }




}






@media only screen and (min-width: 601px) and (max-width: 900px) {


  .intro-details .p1 {
    font-size: 3rem;
  }

  .intro-details .p2,
  .intro-details .cv-btn {
    font-size: 2rem;
  }

  .cv-btn button {
    height: 2.3rem;
    width: 8rem;
    font-size: 1rem;
    margin-top: 2rem;
  }


  .navbar li {
    display: none;
  }

  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: top 1s ease 0s;
    color: rgb(255, 255, 255);
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a {
    color: white;
  }

  nav .mainMenu li a:hover {
    background: none;
    color: var(--main-card-color);
  }

  .icons i {
    display: inline-block;
    padding: 12px;
    color: var(--main-card-color);
  }



  .icons i:hover {
    display: inline-block;
    padding: 12px;
    color: var(--main-nav-color);
  }

  .intro-img {
    margin-top: 3rem;
    height: 65%;
    width: 100%;
    flex-basis: 100%;
    overflow: hidden;
    order: 1;


  }

  .profile-img {
    height: 90%;
    width: 55%;

  }




  .intro-details {
    height: 40%;
    flex-basis: 100%;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;


  }


  .intro-details h1 {
    font-size: 2rem;
  }

  .cv-btn span {
    margin-left: 3rem;
  }


  .cv-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }

  /* project parent 100% */

  .pr-parent {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .pr {
    height: 400px;
    width: 800px;

    padding: 20px;
  }




  .pr-img img {
    margin-bottom: 2rem;
    height: 250px;
    width: 450px;
    border-bottom: 5px solid var(--main-text-color);
    border-radius: 20px;

  }



  /*             */



  .about-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

  }

  .about-left {
    height: 100%;
    flex-basis: 100%;
    width: 100%;
    align-items: center;


  }

  .about-left .my-info {
    margin-top: 1.5rem;
    font-size: 0.8rem;

  }

  .about-rights {
    margin-top: 2rem;
    height: 100vh;
    flex-basis: 100%;
    width: 80%;
    /* box-shadow: none; */

  }

  .profile-about {
    height: 25%;
    width: 25%;

  }

  .about-myself {
    padding: 2rem;

  }

}

.about-myself p {
  margin-top: 1rem;
}


/*footer*/
.about-me {
  height: 60vh;


}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

  .intro-details .p1,
  .intro-details .p2,
  .intro-details .cv-btn {
    font-size: 3rem;
  }

  main {
    width: 90%;

  }

  .cv-btn button {
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
  }

  body {
    overflow-x: hidden;
  }

  .intro-img {

    overflow: hidden;
    order: 1;

  }

  .profile-img {
    height: 60%;
    width: 100%;
  }



  .my-info {
    font-size: 0.8rem;
  }




  /*project section*/

  .pr-parent {

    width: 100%;


  }

  .pr {
    height: 300px;
    width: 300px;

    padding: 20px;
  }




}






@media only screen and (min-width: 1201px) {
  .intro {
    height: 80%;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }

  .intro-img {
    flex-basis: 40%;
    align-items: flex-end;
  }



  .intro-details {
    flex-basis: 58%;
    text-align: left;
  }

  .intro-details .p1,
  .intro-details .p2,
  .intro-details .cv-btn {
    font-size: 3rem;
  }

  .cv-btn button {
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
  }



  .pr-parent {

    width: 100%;


  }




}
